*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}
:root{
	--primary-clr: #0b0e11;
	--primary2-clr: #151a21;
	--primaryFont-clr: #fff;
	--accent-clr: #fd4d4d;
	--accent100-clr: #fd6868;
}
.light-mode{
	--primary-clr: #fff;
	--primary2-clr: #F5F5F5;
	--primaryFont-clr: #000;
}
.theme{
	position: absolute;
	right: 5%;
	font-size: 20pt;
	cursor: pointer;
}
.rotateForward{
	transform: rotate(360deg);
	transition: transform .5s;
}
.rotateBackward{
	transform: rotate(-360deg);
	transition: transform .5s;
}
.logo {
	color: var(--accent-clr);
	cursor: default;
	font-family: 'Lobster', sans-serif;
}

nav {
	background-color: var(--primary2-clr);
	color: var(--primaryFont-clr);
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 4rem;
	text-transform: uppercase;
	position: fixed;
	width: 100%;
	z-index: 100;
    top: 0;
    left: 0;
}
.nav-links li{
	list-style-type: none;
	display: inline;
	margin: 0 25px;
}
.nav-links {
	cursor: default;
}
.nav-links a{
	color: var(--primaryFont-clr);
	text-decoration: none;
	transition: 0.2s ease;
	font-family: 'Varela Round', sans-serif;
}
.nav-links a:hover {
	color: var(--accent-clr);
} 

.burger {
	display: none;
	cursor: pointer;
}
/*BurgerColor*/
.burger div{
	background-color: var(--accent-clr);
	width: 30px;
	height: 2px;
	margin: 5px 0px;
	transition: .5s ease;
}
.line2{
	width: 25px !important;
}

body{
    background-color: var(--primary-clr);
}
.wrapper-title{
    margin: 150px 0 50px;
    z-index: 100;
    color: var(--primaryFont-clr);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.wrapper-title h1{
    font-size: min(max(10pt, 8vw), 4rem);
    margin-bottom: 25px;
    color: var(--accent-clr);
}
.wrapper-title p{
    font-size: min(max(5pt, 8vw), 1rem);
}
.wrapper-form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
form{
    transition: all 4s ease-in-out;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.form-control{
    width: clamp(300px, 50%, 400px);
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--primary2-clr);
    color: var(--primaryFont-clr);
    font-size: 18px;
    margin-bottom: 16px;
    transition: 0.2s ease-in-out;
}
.form-control:focus{
    border-bottom-color: var(--accent-clr);
}

input{
    height: 45px;
}

form .submit{
    background: var(--accent-clr);
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    transition: 0.2s ease-in-out;
}
form .submit:hover{
    cursor: pointer;
    background: var(--accent100-clr);
}

@media screen and (max-width: 812px){
	/*Navbar Mobile*/
	.nav-links {
		position: absolute;
		background-color: var(--primary2-clr);
		display: flex;
		top: 100%;
		right: 0;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transform: translateX(100%);
		animation: bounceBack 0.5s;
	}
	.nav-active {
		transform: translateX(0);
		animation: bounce 0.5s;
	}
	@keyframes bounce{
		0%{
			transform: translateX(100%);
		}
		50%{
			transform: translateX(-25%);
		}
		100%{
			transform: translateX(0);
		}
	}
	@keyframes bounceBack{
		0%{
			transform: translateX(0);
		}
		50%{
			transform: translateX(-25%);
		}
		100%{
			transform: translateX(100%);
		}
	}
	.nav-links li {
		margin: 25px 75px;
	}
	.burger {
		display: block;
	}
	.toggle .line1 {
		transform: rotate(45deg) translate(4px, 6px);
		transition: transform .3s ease;
	}
	.toggle .line2 {
		opacity: 0;
		transition: opacity .3s ease;
	}
	.toggle .line3 {
		transform: rotate(-45deg) translate(4px, -6px);
		transition: transform .3s ease;
	}
}