/*Jordan Schulte*/
/*Preset Classes*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	user-select: none;
}
:root{
	--primary-clr: #0b0e11;
	--primary2-clr: #151a21;
	--primary-blur: rgba(21, 26, 33, 0.8);
	--primaryFont-clr: #fff;
	--accent-clr:  hsl(0, 98%, 65%);
	--accent100-clr: hsl(0, 50%, 65%);
	transition: 0.2s;
}
.light-mode{
	--primary-clr: #fff;
	--primary2-clr: #f5f5f5;
	--primary-blur: rgba(245, 245, 245, 0.8);
	--primaryFont-clr: #000;
	transition: 0.2s;
}
.notification-dark, .notification-light{
	background: var(--primary-blur);
	-webkit-backdrop-filter: saturate(180%) blur(10px);
    backdrop-filter: saturate(180%) blur(10px);
	color: var(--primaryFont-clr);
	position: fixed;
	top: -10%;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--primary-blur);
	padding: 20px 0;
	border-radius: 5px;
	font-family: 'Varela Round', sans-serif;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
	user-select: none;
	cursor: default;
	z-index: 101;
	text-align: center;
	width: 350px;
}
.notiCall{
	animation: noti 4s;
}
@keyframes noti{
	0%{
		top: -10%;
	}
	10%{
		top: 10%;
	}
	20%{
		top: 10%;
	}
	30%{
		top: 10%;
	}
	40%{
		top: 10%;
	}
	50%{
		top: 10%;
	}
	60%{
		top: 10%;
	}
	70%{
		top: -10%;
	}
	100%{
		top: -10%;
	}
}
.p-color{
	--primaryFont-clr: #000;
}
.accent-color{
	color: var(--accent-clr);
}
.theme{
	position: absolute;
	right: 5%;
	font-size: 20pt;
	cursor: pointer;
}
@media (hover: hover){
	.theme:hover{
		opacity: 0.7;
	}
}
.theme:active{
	transform: scale(0.8);
}
.rotateForward{
	transform: rotate(360deg);
	transition: transform .5s;
}
.rotateBackward{
	transform: rotate(-360deg);
	transition: transform .5s;
}
/*Scroll Bar*/
html::-webkit-scrollbar {
	width: 7px;
}
html::-webkit-scrollbar-track {
	background: var(--primary2-clr);
}
html::-webkit-scrollbar-thumb {
	background-color: var(--accent-clr);
	border-radius: 10px;
}
html::-webkit-scrollbar-thumb:hover{
	background-color: var(--accent100-clr);
}
/*Navgiation Bar*/
/*LogoColor*/
.logo {
	color: var(--accent-clr);
	cursor: default;
	font-family: 'Lobster', sans-serif;
}
.logo:hover{
	color: var(--primaryFont-clr);
}
.burger {
	display: none;
	cursor: pointer;
}
/*BurgerColor*/
.burger div{
	background-color: var(--accent-clr);
	width: 30px;
	height: 2px;
	margin: 5px 0px;
	transition: .5s ease;
}
.line2{
	width: 25px !important;
}
.wrapper {
	overflow: hidden;
}
/*NavColor*/
nav {
	background-color: var(--primary2-clr);
	color: var(--primaryFont-clr);
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 4rem;
	text-transform: uppercase;
	position: fixed;
	width: 100%;
	z-index: 100;
	border-bottom: 2px solid var(--primary-clr);
	transition: 0.2s;
}
.navContent{
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background: var(--primary2-clr);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1000;
	border: 1px solid var(--accent-clr);
	user-select: none;
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	padding: 20px 50px;
	margin: 0 !important;
	width: 100%;
	text-align: center;
	transition: 0.1s !important;
}
.dropdown-content a:hover {background: var(--primary-clr); color: var(--accent-clr);}

/* Show the dropdown menu on hover */
.navContent:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
.social-media-links{
	position: absolute;
	right: 0;
	text-align: center;
}
.active{
	transition: 0.3s ease-in-out;
	border-bottom-color: var(--accent-clr);
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
	background: var(--primary-blur);
	-webkit-backdrop-filter: saturate(180%) blur(10px);
    backdrop-filter: saturate(180%) blur(10px);
}
.nav-links a{
	list-style-type: none;
	display: inline-block;
	margin: 0px 25px;
}
.nav-links {
	cursor: default;
	position: relative;
}
.nav-links a{
	color: var(--primaryFont-clr);
	text-decoration: none;
	transition: 0.3s ease;
	font-family: 'Varela Round', sans-serif;
}
.nav-links a::after {
    content: "";
	display: block;
    width: 0;
    background-color: var(--primaryFont-clr);
    height: 2px;
	transition: 0.2s width;
	margin-left: auto;
}

.nav-item:hover::after {
	width: 100%;
    transition: 0.2s width;
	margin: 0 0;
}

.nav-item:hover {
	color: var(--accent-clr);
}
/*Head Section*/
#noscript-warning{
	position: fixed;
	display: flex;
	left: 0;
	top: 8%;
	color: white;
	background-color: red;
	width: 100vw;
	justify-content: center;
	align-items: center;
	font-size: min(max(10rem, 50%), 1.1rem);
	z-index: 100;
	font-family: 'Varela Round', sans-serif;
}

.head-wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	transition: 0.3s;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--primary-clr);
	color: var(--primaryFont-clr);
	text-align: center;
}
.head-title{
	margin: 0 2.5rem;
	font-size: min(max(2rem, 4vw), 3rem);
	font-family: 'Open Sans', sans-serif;
}
.head-title span {
	color: var(--accent-clr);
}
.head-paragraph{
	font-size: min(max(1.2rem, 2rem), 1.5rem);
	margin: 3rem 0;
	width: clamp(300px, 50%, 600px);
	font-family: 'Hind Siliguri', sans-serif;
}
.head-button {
	color: white;
	background-color: var(--accent-clr);
	border: 2px solid var(--accent-clr);
	padding: 15px 45px;
	border-radius: 50px;
	transition: all .3s ease;
	text-decoration: none;
	font-family: 'Varela Round', sans-serif;
	text-transform: uppercase;
}
@media (hover: hover) {
	.head-button:hover {
		background-color: var(--accent100-clr);
		border-color: var(--accent100-clr);
		box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.7);
		transform: translateY(-5px);
	}
  }
/*Skills Section*/
.skills-wrapper{
	background-color: var(--primary2-clr);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: 2px solid var(--accent-clr);
}
.skills-title {
	color: var(--primaryFont-clr);
	font-size: min(max(10pt, 4vw), 1.4rem);
	margin-bottom: 30px;
	font-family: 'Open Sans', sans-serif;
}
.skills-set{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.skill-wrap{
	width: 400px;
	height: min(300px);
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	text-align: center;
	margin: 0px 25px 50px;
	box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
	transition: 0.2s;
}
.skill-wrap:hover{
	transform: scale(1.1);
	box-shadow: 0px 0px 0px 2px var(--accent-clr);
}
.skill-icon i{
	color: var(--accent-clr);
	font-size: 40pt;
	font-size: min(max(25pt, 4vw), 40pt);
}
.skill-title{
	margin: 25px 10px;
}
.skill-title h2{
	color: var(--accent-clr);
	font-size: min(max(20pt, 4vw), 25pt);
	font-family: 'Open Sans', sans-serif;
}
.skill-message p{
	color: var(--primaryFont-clr);
	margin: 0px 30px;
	font-size: 13pt;
	font-family: 'Hind Siliguri', sans-serif;
}
/*Projects Section*/
.projects-wrapper{
	background-color: var(--primary-clr);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: 2px solid var(--accent-clr);
	border-bottom: 2px solid var(--accent-clr);
}
.projects-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.projects-title {
	color: var(--primaryFont-clr);
	font-size: min(max(10pt, 8vw), 2.5rem);
	font-family: 'Open Sans', sans-serif;
	margin: 0 0 4rem 0;
}
.projects-div {
	height: 400px;
	width: max(400px, 300px);
	background-color: var(--primary2-clr);
	border: 2px solid var(--primary2-clr);
	border-radius: 9px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin: 50px 2%;
	cursor: default;
	text-align: center;
	transition: 0.3s ease;
	position: relative;
}
.projects-tag{
	color: white;
	position: absolute;
	z-index: 1;
	top: 150px;
	font-family: 'Open Sans', sans-serif;
	pointer-events: none;
	width: 100%;
	display: flex;
	justify-content: center;
}
.projects-tag div{
	padding: 2px 10px;
	border-radius: 50px;
	margin: 0 5px;
}
.newTag{
	background: red;
}
.appTag{
	background: #FF69B4;
}
.webTag{
	background: #4169e1;
}
.projects-div:hover {
	border-color: var(--accent-clr);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0);
	transform: translateY(-10px);
}
.projects-div:hover .projects-img img{transform: scale(1.2);}
.projects-img{
	width: 100%;
	height: 35%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.projects-img img{
	width: 100%;
	height: 100%;
	transition: 0.3s;
}
.projects-text h2{
	color: var(--accent-clr);
	margin: 25px 0 20px 0;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}
.projects-text {
	color: var(--primaryFont-clr);
	height: 65%;
	font-family: 'Hind Siliguri', sans-serif;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}
.projects-text p{
	margin: 0 10px 25px;
	font-size: min(max(5pt, 4vw), 1rem);
}
.projects-text span{
	color: var(--accent-clr);
}

.projects-text-section{
	height: 80px;
}
.projects-btn{
	background-color: var(--accent-clr);
	border: 2px solid var(--accent-clr);
	border-radius: 50px;
	text-align: center;
	color: white;
	text-decoration: none;
	transition: all .3s ease;
	text-decoration: none;
	font-family: 'Varela Round', sans-serif;
	text-transform: uppercase;
	padding: 10px 20px;
	text-align: center;
	margin: 0 auto;
}
.projects-btn:hover {
	background-color: var(--accent100-clr);
	border-color: var(--accent100-clr);
}

.btn-view {
	height: 100%;
	text-decoration: none;
}
/*Foot Section*/
.foot-wrapper{
	background-color: var(--primary2-clr);
	text-align: center;
	padding: 3rem;
	position: relative;
}
.foot-wrapper h1{
	color: var(--primaryFont-clr);
	font-size: 30pt;
	font-family: 'Lobster', sans-serif;
}
.foot-wrapper i{
	color: var(--accent-clr);
	margin: 2rem 0.5rem;
	font-size: 30pt;
	transition: 0.3s ease;
}
.foot-wrapper i:hover{
	color: var(--accent100-clr);
	text-shadow: 0px 8px 5px rgba(0, 0, 0, 0.7);
	transform: translateY(-5px);
}
.copyright{
	color: var(--primaryFont-clr);
	font-family: 'Open Sans', sans-serif;
	cursor: default;
	user-select: none;
}
.version a{
	color: var(--accent-clr);
	font-family: 'Open Sans', sans-serif;
	user-select: none;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 10pt;
}
.version a:hover{
	color: #666666;
}
.btt{
	position: fixed;
	right: 5%;
	bottom: 5%;
	background-color: var(--accent-clr);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transform: translateX(500%);
	transition: transform 1s ease, opacity 0.2s ease-in-out;
}
.btt-active{
	transform: translateX(0%);
}
.btt:active{
	transform: scale(0.9);
	transition: 0.1s;
}
.fa-angle-up{
	color: white !important;
	font-size: 25pt;
}
@media (hover: hover) {
	.btt:hover {
		opacity: 0.7;
	}
  }
/*Mobile Support*/
@media screen and (max-width: 812px){
	/*Navbar Mobile*/
	.nav-links {
		position: absolute;
		background: var(--primary2-clr);
		display: flex;
		top: 100%;
		right: 0;
		width: 100%;
		height: 100vh;
		flex-direction: column;
		align-items: center;
		transform: translateX(100%);
		animation: bounceBack 0.5s;
		justify-content: center;
	}
	.dropdown-content{
		display: none !important;
	}
	.nav-links a{
		font-size: 20pt;
		margin: 20px 0;
	}
	.nav-active {
		transform: translateX(0);
		animation: appear 1s;
		overflow: hidden;
	}
	.fixed-position{
		overflow: hidden;
	}
	@keyframes appear{
		0%{
			opacity: 0;
			transform: translate(0);
		}
		25%{
			opacity: 0;
			transform: translate(0);
		}
		25%{
			opacity: 1;
			transform: translate(0);
		}
		50%{
			opacity: 1;
			transform: translate(0);
		}
		75%{
			opacity: 1;
			transform: translate(0);
		}
		100%{
			opacity: 1;
			transform: translate(0);
		}
	}
	@keyframes bounceBack{
		0%{
			opacity: 1;
			transform: translate(0);
		}
		25%{
			opacity: 1;
			transform: translate(0);
		}
		50%{
			opacity: 0;
			transform: translate(0);
		}
		75%{
			opacity: 0;
			transform: translate(0);
		}
		100%{
			opacity: 0;
			transform: translate(0);
		}
	}
	.nav-links li {
		margin: 25px 75px;
	}
	.burger {
		display: block;
	}
	.toggle .line1 {
		transform: rotate(45deg) translate(4px, 6px);
		transition: transform .3s ease;
	}
	.toggle .line2 {
		opacity: 0;
		transition: opacity .3s ease;
	}
	.toggle .line3 {
		transform: rotate(-45deg) translate(4px, -6px);
		transition: transform .3s ease;
	}
}

