/*Jordan Schulte*/
/*Preset Classes*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-clr: hsl(0, 0%, 0%);
  --primary-blur: hsla(0, 0%, 0%, 0.8);
  --primaryFont-clr: #ccc;
  --accent-clr: hsl(122, 100%, 39%);
  --accent100-clr: hsl(122, 100%, 21%);
  --scroll-bar: #1b1b1b;
}

.light-mode {
  --primary-clr: #fff;
  --primary-blur: rgba(235, 235, 235, 0.8);
  --primaryFont-clr: #000;
  --scroll-bar: #e4e4e4;
}

*:focus {
  outline: 2px solid var(--primaryFont-clr);
}

.notification-dark,
.notification-light {
  background: var(--primary-blur);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  backdrop-filter: saturate(180%) blur(10px);
  color: var(--primaryFont-clr);
  position: fixed;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-blur);
  padding: 20px 0;
  border-radius: 5px;
  font-family: "Varela Round", sans-serif;
  box-shadow: 0px 0px 5px var(--accent-clr);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  z-index: 101;
  text-align: center;
  width: 350px;
}

.notiCall {
  -webkit-animation: noti 2s;
          animation: noti 2s;
}

@-webkit-keyframes noti {
  0% {
    top: -100px;
  }
  25% {
    top: 100px;
  }
  50% {
    top: 100px;
  }
  100% {
    top: -100px;
  }
}

@keyframes noti {
  0% {
    top: -100px;
  }
  25% {
    top: 100px;
  }
  50% {
    top: 100px;
  }
  100% {
    top: -100px;
  }
}
.p-color {
  --primaryFont-clr: #000;
}

.accent-color {
  color: var(--accent-clr);
}

.theme {
  position: absolute;
  right: 5%;
  font-size: 20pt;
  cursor: pointer;
}
.theme::before {
  --scale: 0;
  content: attr(data-tooltip);
  position: absolute;
  text-transform: none;
  font-size: 12pt;
  left: 50%;
  transform: translateX(-50%) translateY(100%) scale(var(--scale));
  background: #333;
  color: white;
  border-radius: 0.3rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5rem;
  font-family: "Open Sans", sans-serif;
  transition: transform 0.2s ease-in-out;
  transform-origin: top center;
  margin-top: 1.2rem;
}
@media (hover: hover) {
  .theme:hover::before {
    --scale: 1;
  }
}
@media (hover: hover) {
  .theme:hover {
    opacity: 0.7;
  }
}
.theme:active {
  transform: scale(0.8);
}

.theme-mode {
  pointer-events: none;
}

.rotateForward {
  transform: rotate(360deg);
  transition: transform 0.5s;
}

.rotateBackward {
  transform: rotate(-360deg);
  transition: transform 0.5s;
}

/*Scroll Bar*/
html::-webkit-scrollbar {
  width: 7px;
}

html::-webkit-scrollbar-track {
  background: var(--primary-clr);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--accent-clr);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent100-clr);
}

/*Navgiation Bar*/
/*LogoColor*/
.logo {
  color: var(--accent-clr);
  cursor: default;
  font-family: "Lobster", sans-serif;
  z-index: 1;
}
.logo:hover {
  color: var(--primaryFont-clr);
}

.burger {
  display: none;
  cursor: pointer;
}

/*BurgerColor*/
.burger div {
  background-color: var(--accent-clr);
  width: 30px;
  height: 2px;
  margin: 5px 0px;
  transition: 0.5s ease;
}

.line2 {
  width: 25px !important;
}

.wrapper {
  overflow: hidden;
}

/*NavColor*/
nav {
  background-color: var(--primary-clr);
  color: var(--primaryFont-clr);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  z-index: 100;
  border-bottom: 2px solid var(--primary-clr);
  transition: 0.2s ease;
}

.navContent {
  position: relative;
  display: inline-block;
  padding: 0.5rem 0;
  cursor: pointer;
}
.navContent:hover .dropbtn {
  color: var(--accent-clr) !important;
}
.navContent:hover .fa-chevron-down {
  transform: rotate(0);
}
.navContent:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: var(--primary-blur);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border: 1px solid var(--accent-clr);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 10px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  padding: 10px 50px;
  margin: 0 !important;
  width: 100%;
  text-align: center;
  transition: 0.1s !important;
}
.dropdown-content a:hover {
  color: var(--accent-clr);
}

.fa-chevron-down {
  transform: rotate(180deg);
  transition: transform 0.1s linear;
}

.social-media-links {
  position: absolute;
  right: 0;
  text-align: center;
}

.active {
  border-bottom-color: var(--accent-clr);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  background: var(--primary-blur);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  backdrop-filter: saturate(180%) blur(10px);
}

.nav-links a {
  list-style-type: none;
  display: inline-block;
  margin: 0px 25px;
}

.nav-links {
  cursor: default;
  position: relative;
}

.nav-links a {
  color: var(--primaryFont-clr);
  text-decoration: none;
  transition: 0.2s ease;
  font-family: "Varela Round", sans-serif;
}

.nav-item {
  position: relative;
}
.nav-item:hover {
  color: var(--accent-clr);
}
.nav-item::after {
  position: absolute;
  content: "";
  bottom: -0.25rem;
  right: 0;
  width: 0;
  height: 0.1rem;
  background: var(--accent-clr);
  transition: width 0.2s ease;
}
.nav-item:hover::after {
  left: 0;
  width: 100%;
}

/*Head Section*/
#noscript-warning {
  position: fixed;
  display: flex;
  left: 0;
  top: 8%;
  color: white;
  background-color: red;
  width: 100vw;
  justify-content: center;
  align-items: center;
  font-size: min(max(10rem, 50%), 1.1rem);
  z-index: 100;
  font-family: "Varela Round", sans-serif;
}

.head-wrapper {
  width: 100vw;
  height: max(700px, 100vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-clr);
  color: var(--primaryFont-clr);
  text-align: center;
  transition: 0.2s ease;
}

.head-title {
  margin: 0 2.5rem;
  font-size: min(max(2rem, 4vw), 3rem);
  font-family: "Open Sans", sans-serif;
}

.head-title span {
  color: var(--accent-clr);
}

.head-paragraph {
  font-size: 1.5rem;
  margin: 3rem 0;
  width: clamp(300px, 50%, 600px);
  font-family: "Hind Siliguri", sans-serif;
}

.head-button {
  color: var(--accent-clr);
  background: transparent;
  border: 2px solid var(--accent-clr);
  padding: 15px 45px;
  border-radius: 50px;
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  text-transform: uppercase;
  transition: 0.2s ease;
}
.head-button:hover {
  background: rgba(0, 180, 5, 0.2);
}

/*Skills Section*/
.skills-wrapper {
  background-color: var(--primary-clr);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--accent-clr);
  transition: 0.2s ease;
}

.skills-title {
  color: var(--primaryFont-clr);
  font-size: min(max(10pt, 4vw), 1.4rem);
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
}

.skills-set {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-wrap {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 0px 25px 50px;
  border-radius: 20px;
  transition: 0.2s;
  border: 1px solid var(--primaryFont-clr);
  cursor: default;
}
.skill-wrap:hover {
  border-color: var(--accent-clr);
  transform: translateY(-5px);
}

.skill-icon i {
  color: var(--accent-clr);
  font-size: 40pt;
  font-size: min(max(25pt, 4vw), 40pt);
}

.skill-title {
  margin: 25px 10px;
}

.skill-title h2 {
  color: var(--accent-clr);
  font-size: min(max(20pt, 4vw), 25pt);
  font-family: "Open Sans", sans-serif;
}

.skill-message {
  max-height: 120px;
  overflow-y: scroll;
}
.skill-message::-webkit-scrollbar {
  width: 0px;
}

.skill-message p {
  color: var(--primaryFont-clr);
  margin: 0px 30px;
  font-size: 13pt;
  font-family: "Hind Siliguri", sans-serif;
}

/*Projects Section*/
.projects-wrapper {
  background-color: var(--primary-clr);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--accent-clr);
  border-bottom: 2px solid var(--accent-clr);
  transition: 0.2s ease;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.projects-title {
  color: var(--primaryFont-clr);
  font-size: min(max(10pt, 8vw), 2.5rem);
  font-family: "Open Sans", sans-serif;
  margin: 0 0 4rem 0;
}

.projects-div {
  height: 350px;
  width: 400px;
  background-color: var(--primary-clr);
  border: 1px solid var(--primaryFont-clr);
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 50px 2%;
  cursor: default;
  text-align: center;
  transition: 0.3s ease;
  position: relative;
}
.projects-div:hover, .projects-div:focus {
  transform: translateY(-5px);
  border-color: var(--accent-clr);
}
.projects-div:hover .projects-img img {
  transform: scale(1.1);
}

.projects-img {
  width: 100%;
  height: 35%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.projects-img img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.projects-text h2 {
  color: var(--accent-clr);
  margin: 25px 0 20px 0;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

.projects-text {
  color: var(--primaryFont-clr);
  height: 65%;
  font-family: "Hind Siliguri", sans-serif;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-text p {
  margin: 0 25px 25px;
  font-size: min(max(5pt, 4vw), 1rem);
}

.projects-text span {
  color: var(--accent-clr);
}

/*Foot Section*/
.foot-wrapper {
  background-color: var(--primary-clr);
  text-align: center;
  padding: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}

.foot-wrapper h1 {
  color: var(--primaryFont-clr);
  font-size: 30pt;
  font-family: "Lobster", sans-serif;
}

.foot-wrapper i {
  color: var(--accent-clr);
  margin: 0 0.5rem;
  font-size: 30pt;
  transition: 0.2s ease;
}

.copyright {
  color: var(--primaryFont-clr);
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

.version a {
  color: var(--accent-clr);
  font-family: "Open Sans", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10pt;
}

.version a:hover {
  color: #666666;
}

.btt {
  position: fixed;
  right: 5%;
  bottom: 5%;
  background-color: var(--accent-clr);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transform: translateX(500%);
  transition: transform 1s ease, opacity 0.2s ease-in-out;
}

.btt-active {
  transform: translateX(0%);
}

.btt:active {
  transform: scale(0.9);
  transition: 0.1s;
}

.btt::before {
  --scale: 0;
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-100%) scale(var(--scale));
  background: #333;
  color: white;
  border-radius: 0.3rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5rem;
  font-family: "Open Sans", sans-serif;
  transition: transform 0.2s ease-in-out;
  transform-origin: bottom center;
  margin-bottom: 1.2rem;
}

@media (hover: hover) {
  .btt:hover::before {
    --scale: 1;
  }
}
.fa-angle-up {
  color: white !important;
  font-size: 25pt;
}

.media-a {
  margin: 2rem 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: default;
}

.media-a a {
  transition: 0.2s;
  position: relative;
}

.media-a:hover a {
  opacity: 0.5;
}

.media-a a:hover {
  opacity: 1 !important;
  transition: 0.2s;
}

.media-a a::before {
  --scale: 0;
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-100%) scale(var(--scale));
  background: #333;
  color: white;
  border-radius: 0.3rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5rem;
  font-family: "Open Sans", sans-serif;
  transition: transform 0.2s ease-in-out;
  transform-origin: bottom center;
  margin-bottom: 0.25rem;
}

@media (hover: hover) {
  .media-a a:hover::before {
    --scale: 1;
  }
}
/*Mobile Support*/
@media screen and (max-width: 812px) {
  /*Navbar Mobile*/
  .nav-links {
    position: absolute;
    background: var(--primary-clr);
    display: flex;
    top: 0%;
    right: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    -webkit-animation: bounceBack 0.5s;
            animation: bounceBack 0.5s;
  }
  .fa-chevron-down {
    display: none !important;
  }
  .dropdown-content {
    display: none !important;
  }
  .nav-links a {
    font-size: 20pt;
    margin: 20px 0;
  }
  .nav-active {
    transform: translateX(0);
    -webkit-animation: appear 1s;
            animation: appear 1s;
    overflow: hidden;
  }
  .fixed-position {
    overflow: hidden;
  }
  @-webkit-keyframes appear {
    0% {
      opacity: 0;
      transform: translate(0);
    }
    25% {
      opacity: 0;
      transform: translate(0);
    }
    25% {
      opacity: 1;
      transform: translate(0);
    }
    50% {
      opacity: 1;
      transform: translate(0);
    }
    75% {
      opacity: 1;
      transform: translate(0);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  @keyframes appear {
    0% {
      opacity: 0;
      transform: translate(0);
    }
    25% {
      opacity: 0;
      transform: translate(0);
    }
    25% {
      opacity: 1;
      transform: translate(0);
    }
    50% {
      opacity: 1;
      transform: translate(0);
    }
    75% {
      opacity: 1;
      transform: translate(0);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  @-webkit-keyframes bounceBack {
    0% {
      opacity: 1;
      transform: translate(0);
    }
    25% {
      opacity: 1;
      transform: translate(0);
    }
    50% {
      opacity: 0;
      transform: translate(0);
    }
    75% {
      opacity: 0;
      transform: translate(0);
    }
    100% {
      opacity: 0;
      transform: translate(0);
    }
  }
  @keyframes bounceBack {
    0% {
      opacity: 1;
      transform: translate(0);
    }
    25% {
      opacity: 1;
      transform: translate(0);
    }
    50% {
      opacity: 0;
      transform: translate(0);
    }
    75% {
      opacity: 0;
      transform: translate(0);
    }
    100% {
      opacity: 0;
      transform: translate(0);
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .nav-links li {
    margin: 25px 75px;
  }
  .burger {
    display: block;
  }
  .toggle .line1 {
    transform: rotate(45deg) translate(4px, 6px);
    transition: transform 0.3s ease;
  }
  .toggle .line2 {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .toggle .line3 {
    transform: rotate(-45deg) translate(4px, -6px);
    transition: transform 0.3s ease;
  }
}/*# sourceMappingURL=style.css.map */