nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.5rem 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  z-index: 10;
}

@media (max-width: 59rem) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.burger {
  display: none;
}

@media (max-width: 59rem) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2rem;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-title h1 {
  font-weight: bolder;
  font-size: 50pt;
  font-family: "Bebas Neue", cursive;
}

@media (max-width: 59rem) {
  .main-title h1 {
    font-size: 35pt;
  }
}

.main-links {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 59rem) {
  .main-links {
    position: absolute;
    border: 2px solid #fff;
    background: #000;
    top: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    height: 75vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    z-index: 7;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    opacity: 0;
  }
  .main-links .main-link {
    margin: 1rem 2rem 1rem 1rem;
  }
}

.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.selected {
  font-weight: bolder;
  position: relative;
  pointer-events: none;
}

.selected::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
}

.main-link {
  padding: 0.2rem;
  margin: 0 1rem;
  color: #fff;
  text-decoration: none;
  font-size: 15pt;
  font-family: "Tinos", serif;
  position: relative;
}

.main-link:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.main-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

@media (max-width: 59rem) {
  .main-link::after {
    width: 0;
    opacity: 1;
  }
}

.main-link:hover::after {
  opacity: 1;
}

@media (max-width: 59rem) {
  .main-link:hover::after {
    width: 100%;
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
  display: none;
}

.overlayOn {
  display: block;
}
/*# sourceMappingURL=navbar.css.map */