@import "variables";
@import "globals";

::-webkit-scrollbar {
    width: 0;
}

main {
    @media(max-width: 59rem){
        margin: 0;
    }
    margin: 5rem 0;
    overflow-x: hidden;
}

.work {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media(max-width: 75rem){
        grid-template-columns: 1fr;
    }
}

.work-item{
    overflow: hidden;
    height: 100%;
    max-height: 400px;
    min-height: 250px;
    position: relative;
    flex: 1;
}

.work-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer; 
        transition: 3.5s; //trans-time#imgZoom
    }
    &:hover::after {
        opacity: 0.8;
        cursor: pointer;
    }
    &:hover {
        img {
            transform: scale(1.2);
        }
    }
    &::after{
        position: absolute;
        inset: 0;
        content: '';
        background: url(../../Images/tv.gif);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0;
        transition: 0.2s; //trans-time#videoPlay
    }
    &::before{
        content: attr(data-tooltip);
        position: absolute;
        inset: 0;
        display: flex;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        z-index: 1;
        opacity: 0;
        color: $white;
        font-family: $bebas;
        transition: 0.2s;
        @media(max-width: 59rem){
            font-size: 2.5rem;
        }
    }
    &:hover::before {
        opacity: 1;
        cursor: pointer;
    }
}